.gdbar img {
  width: 400px !important;
  height: 100px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 800px !important;
  height: 100px !important;
}


slides > slide:not(.nobackground):before {
  width: 100px;
  height: 25px;
  background-size: 100px 25px;
}